In [1]:
!pip install inflect

Requirement already satisfied: inflect in /usr/local/lib/python3.11/dist-packages (7.5.0)
Requirement already satisfied: more_itertools>=8.5.0 in /usr/local/lib/python3.11/dist-packages (from inflect) (10.7.0)
Requirement already satisfied: typeguard>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from inflect) (4.4.2)
Requirement already satisfied: typing_extensions>=4.10.0 in /usr/local/lib/python3.11/dist-packages (from typeguard>=4.0.1->inflect) (4.13.2)

In [9]:
import inflect

p = inflect.engine()

number = int(input("Enter a number (1 to 1000): "))

if number < 1 or number > 1000:
    print("Number must be between 1 and 1000.")
else:
    print(" In words:", p.number_to_words(number).capitalize())

Enter a number (1 to 1000): 875
 In words: Eight hundred and seventy-five